{% include 'header.html' %}
<main>

<div class="container" role="home">
    <form style="background: rgba(180, 138, 101, 0.724); padding:25px;  border-radius:25px; " method="POST"
        action="{{ url_for('check_word') }}">
        <h1>Check if a word exists in the dictionary</h1>
        <h3>Think of any word and check if this dictionary contains it. </h3>
        <br>
        <input type="text" name="word" placeholder="Enter word..." required>
        <button class="btn-custom-brown" type="submit">Search</button>
    </form>
    <!-- <hr>s -->
    {% if searched_word %}
    <div style="background: rgba(180, 138, 101, 0.724); padding:25px;  border-radius:25px;  font-size: 2rem; margin-top:25px;">
        <!-- <hr> -->
        {% if search_result is not none and search_result %}
        <h2>Search Results:</h2>
        <p>The word "<b>{{ searched_word }} </b>" exists in the dictionary</p>
        {% else %}
        <h2>Search Results:</h2>
        <p>The word "<b>{{ searched_word }} </b>" is not in the dictionary</p>
        {% endif %}
        <!-- <hr> -->
    </div>
    {% endif %}


</div>

</main>

{% include 'footer.html' %}