{% include 'header.html' %}

<div class="container" role="home">
    <div class="page-header">
        <h1> Welcome to the Trie Dictionary Spelling Manager!</h1>

        <h3>This application allows you to manage a dynamic word list using a Trie data structure.
        </h3>

    </div>
    <div class="game-contianer">

       

        <!-- <img src="{{ url_for('static',filename='img/words2.jpg') }}" class="img" style="width: 40%;
        height: auto;" alt="home image"> -->
        <div id="dice-container" class="dice-container" style="width: 50%; height:auto;">
            <h4>You can:</h4>
            <ul>
                <li>
                    Search for words and prefixes efficiently.
                </li>
                <li>
                    Remove words, with the option to restore them later.

                </li>
                <li>
                    Switch between different word lists easily.

                </li>
                <li>
                    Clear session data to reset the dictionary.

                </li>
            </ul>
            See the <a href="/about">About page</a> for details.
            </p>
            <!-- <button href="/about" class="btn btn-custom-black"> About PAge
                🎲</button> -->
        </div>
        <img src="../static/img/words33.png" class="img" style="width: 40%;
        height: auto;" alt="home image">
    </div>




    {% include 'footer.html' %}