html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    /* background-color: #c7ae9a51; */
    /* background: #f8f9fa; */
    background: linear-gradient(to right, #F5DEB3, #D2B48C, #8B4513);
    padding-top: 4em !important;
    padding-bottom: 2em !important;
    font-family: Arial, sans-serif;
    text-align: center;
}

.navbar-default {
    background-image: none;
    background-color: rgb(121, 80, 26) !important;
}

a.navbar-brand {
    font-size: xx-large;
    font-family: fantasy;
}

a:hover {
    color: black !important;
    font-weight: bold;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
    color: #ffffff !important;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.navbar-default .navbar-nav>li>a :hover {
    color: blue !important;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.page-header {
    margin: 75px 0 20px !important;
}

main {
    flex: 1;
    padding: 25px;
}

header {
    background-color: red !important;
}

h1 {
    font-family: fantasy;
}

.dice-container-mini {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-evenly;
}

/* Container stylings start */
.dice-container img {
    width: 75px;
    margin: 10px;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 0.5s;
}

/* fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.dice-checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
    accent-color: #000;
    /* Black color */
    transform: scale(1.3);
    margin-top: 5px;
}

#game-rules {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
    line-height: 1.5;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.dice-container {
    opacity: 0;
}

.dice-container img {
    cursor: pointer;
}

.dice-image:hover {
    transform: scale(1.2);
}

.dice-container img.selected {
    cursor: pointer;
    transform: scale(1.2);
    padding: 1px;
    border: 5px solid gray;
    border-radius: 5px;
}

/* Delay between dice fading in */
.dice-container img:nth-child(1) {
    animation-delay: 0.2s;
}

.dice-container img:nth-child(2) {
    animation-delay: 0.4s;
}

.dice-container img:nth-child(3) {
    animation-delay: 0.6s;
}

.dice-container img:nth-child(4) {
    animation-delay: 0.8s;
}

.dice-container img:nth-child(5) {
    animation-delay: 1s;
}

/* Apply the fade-in animation to the dice container */
.dice-container {
    animation: fadeIn 1s ease-in-out forwards;
    opacity: 0;
}

/* Container stylings end */

/* buttons styling */
.btn-custom-brown {
    margin-top: 25px;
    background-color: rgb(174, 143, 118);
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    border: 2px solid black;
}

.btn-custom-brown:hover {
    background-color: rgb(192, 142, 101);
    color: black;
    font-weight: bolder;
}

.btn-custom-white {
    margin-top: 25px;
    background-color: #fecaca;
    color: #fff;
    padding: 10px 10px;
    border-radius: 50%;
    border: 3px solid rgb(255, 0, 0);
}

.btn-custom-white:hover {
    color: black;
    background-color: white;
    font-weight: 900;
    transform: scale(1.1);
    border: 4px solid rgb(255, 0, 0);
    transition: transform 0.3s ease;

}

.btn-custom-black:hover {
    color: black;
    background-color: white;
    font-weight: 900;
}


/* form and table stylings */
input[type="text"] {
    padding: 5px;
    border: 2px solid #8B4513;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease-in-out;
}

input[type="text"]:hover,
input[type="text"]:focus {
    border: 3px solid #5A2D0C;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
}

select {
    padding: 5px;
    border: 2px solid #8B4513;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease-in-out;
}

select:hover,
select:focus {
    border: 3px solid #5A2D0C;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
}

/* footer stylings */
footer {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 0 auto;
    padding: 10px;
    /* background: #f8f9fa; */
    background-color: #c7ae9a51;

    /* background: #f8f9fa; */
}

/* table stylings */
table {
    /* width: 50%; */
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
    border: 5px solid #333;
    padding: 25px;
}

.brown-table {
    border: solid 5px #865a23;
    background-color: #c7ae9a98;

}

th,
td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

tr {
    text-align: center;
    border: 1px solid #333;
}

tr:hover {
    background-color: #c7ae9a98;
}

.hoverable:hover {
    cursor: pointer;
}

.game-contianer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center
        /* gap: 50px; */
}

.centered-container {
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .game-contianer {
        display: flex;
        flex-direction: column !important;
        gap: 50px;
    }

    .dice-container img {
        width: 50px;
    }

    main {
        padding: 0px;
    }
}